:root{
    --primary-color:red;
    --custom-width:300px;
}

.container{
    width: 700px;
    height: 500px;
    background-color: blanchedalmond;
    padding: 5px;
    margin: 5px;
    border: 3px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    
} 

.box{
    background-color: aqua;
    width: var(--custom-width);
    height: 300px;
    padding: 5px;
    border: 2px solid green;
    box-shadow: 5px 5px 3px var(--primary-color);
    
}

img{
    width: 50px;
    height: 50px;
    display: flex;
    justify-self: center;
}

h2{
    text-shadow: 5px 4px 3px black;
}

